<!DOCTYPE html>
<html>
<head>
    <title>The list of Initiates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/app.css">
    <script src="js/shared/angular.min.js"></script>
    <script src="js/shared/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/shared/angular-filter.min.js"></script>
        <script src="js/shared/angular-route.min.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <!-- <script src="https://code.angularjs.org/1.7.5/angular-animate.js"></script>-->
</head>

<body ng-app="myApp" ng-controller="MainControllers">
    
    <div id="navbar" ng-click="show = !show">
        <div class="container" ng-class="{change: show}">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="navbar-title">THE LIST OF INITIATES - About</div>
    </div>
    <div class="dropdown fade" ng-if="show" ng-cloak>
        <div class="dropdown-content">
            <a href="index.html">The list</a>
            <a href="statistics.html">Statistics</a>
            <a href="help.html">Help</a>
            <a class="active" href="#">About</a>
        </div>
    </div>
    
    <div class="grid-container">
    <h1>About rays</h1>
    <p class="text-justify">A ray is, according to the Master DK, <em>“but a name for a particular force or type of energy, with the emphasis upon the quality which that force exhibits.”</em> Rays thus qualify all creation, including the human constitution. Soul, personality, mental body, emotional (astral) body, physical body, all are coloured by one or other of the seven rays. In order to facilitate study and comprehension of the rays, Benjamin Creme’s Master has kindly provided, over the years, requested information on the ray structure and point of evolution of well-known individuals, but for reasons of privacy, never of living people. Due to politeness the initiatory degree has been omitted in the case of Avatars.</p>
    <p class="text-justify">The figures in the column named POD (Point of development) refer to the initiate’s exact point of development attained
    during that life. For example, if an initiate achieved a level half way between the first and second initiation, it is
    indicated as <code>1.5</code>.</p>
    <p class="text-justify">Nine figures follow the POD; the rays relate, in order, to the soul, personality, mental body, astral body and
    physical body. The upper figures represent major rays; the lower figures represent sub-rays. The soul does not have a
    sub-ray. When the original list of 580 names was published in <em>Maitreya’s Mission, Volume One</em>, sub-rays were not given. With the exception of those whose sub-rays have been given since then, these names still do not have sub-rays listed.	Following the rays are the dates of birth and death, the country of origin, and the field of endeavour in which the	initiate became known. Many of the people on the list were so versatile that it was virtually impossible to classify them in one category. However, the limits of space available left no option. In a few cases, unfortunately, we were not able to find all relevant data; such omissions are noted by a hyphen.</p>
    <p class="text-justify">Detailed information about rays can be found in Benjamin Creme's books <em>Maitreya’s Mission Volumes One</em> and <em>Two</em> (MM Vol. I and II) and in Alice Bailey books <em>Esoteric Psychology</em>.</p>
    <br />
    <h1>Data</h1>
    <p class="text-justify">This list includes all the names of initiates which were published in Benjamin Creme's books <em>Maitreya’s Mission Volumes One, Two</em> and <em>Three</em>, as well as those published in <em>Share International</em> between April 1997 and November 2016.</p>
    <p><span class="underline">Mistakes are possible</span>. Look in section <a class="plain" href="#sr">'Some Remarks'</a>.</p>
    <br />
    <h1>Earlier or next incarnations</h1>
    <p class="text-justify">Rays of Mozart's next incarnation are <code>SR: 4, PR: 4, MR: 5, AR: 2, PBR: 3</code>. POD was not given. In that life he was obscure violin maker. <em>(MM Vol. I, p.221)</em><br>Person with these rays does not exist in the list.</p>
    <table>
        <thead>
            <th>Person</th>
            <th>POD</th>
            <th>SR</th>
            <th>PR</th>
            <th>MR</th>
            <th>AR</th>
            <th>PBR</th>
            <th>Field of endeavour</th>
        </thead>
        <tbody>
            <tr>
            <td>Mozart's next incarnation</td>
            <td>NA</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>2</td>
            <td>3</td>
            <td>Violin maker</td>
            </tr>
        </tbody>
    </table>
    <p class="text-justify">Joshua the son of Nun was previous incarnation of Joshua the son of Jozadak (in the book of Zechariah) or Jeshua (as stated in book of Ezra) who was the high priest at that time and took the third initiation. Next incarnation was Jesus of Nazareth and the next in line was Apollonius of Tyana. <em>(Initiation Human and Solar, AAB, p.56; Sixteenth printing 1992, Paperback Edition)</em> and <em>(MM Vol. I, p.94 and MM Vol. II, p.227)</em><br><code>Joshua the son of Nun &rarr; Joshua the son of Jozadak &rarr; Jesus of Nazareth &rarr; Apollonius of Tyana</code></p>
    <p class="text-justify">Elijah was one of past incarnation of John the Baptist. <em>(MM Vol. I, p.307 and MM Vol. II, p.226)</em></p>
    <p class="text-justify">Count Cagliostro was previous incarnation of H. P. Blavatsky. <em>(MM Vol. II, p.338 and Discipleship In the New Age II, p. 331)</em></p>
    <p class="text-justify">Roger Bacon was previous incarnation of Francis Bacon (1561-1626). This person was later known as Comte de St. Germain which is not in the list. <em>(Initiation Human and Solar, AAB, p.58; Sixteenth printing 1992, Paperback Edition)</em></p>
    <table class="hover" rules="groups" role="grid">
        <thead>
            <th>Previous incarnation</th>
            <th>POD</th>
            <th>Next incarnation</th>
            <th>POD</th>
        </thead>
        <tbody>
            <tr>
            <td>Joshua the son of Nun</td>
            <td>2.3</td>
            <td>Joshua the son of Jozadak<sup>2</sup></td>
            <td>3.x<sup>3</sup></td>
            </tr>
            <tr>
            <td>Joshua the son of Jozadak</td>
            <td>3.x</td>
            <td>Jesus of Nazareth</td>
            <td>4.0</td>
            </tr>
            <tr>
            <td>Jesus of Nazareth</td>
            <td>4.0</td>
            <td>Apollonius of Tyana</td>
            <td>5.0</td>
            </tr>
            <tr>
            <td>Elijah<sup>1</sup></td>
            <td>2.5</td>
            <td>John the Baptist</td>
            <td>3.3</td>
            </tr>
            <tr>
            <td>Roger Bacon</td>
            <td>2.6</td>
            <td>Francis Bacon</td>
            <td>3.7</td>
            </tr>
            <tr>
            <td>Wolfgang Amadeus Mozart</td>
            <td>3.0</td>
            <td>Unknown violin maker</td>
            <td>NA</td>
            </tr>
            <tr>
            <td>Count Cagliostro</td>
            <td>3.2</td>
            <td>H. P. Blavatsky</td>
            <td>4.0</td>
            </tr>
        </tbody>
            <tfoot>
            <tr>
            <td colspan="4">
            [1] None of the sources specifically states that Elijah was immediate previous incarnation of John the Baptist. But concluded from POD probably it was.<br>
            [2] Also Jeshua by some translations. Not in the list. He was high priest mentioned in book of Ezra and Zachariah in Old Testement of the Bible.<br>
            [3] Third-degree initiate; exact number not known. <em>(Initiation Human and Solar, AAB, p.56, Sixteenth printing 1992, Paperback Edition and MM Vol. II, p.229)</em>
            </td>
            </tr>
            </tfoot>
    </table>
    <br />   
    <h1>Point of development at birth</h1>

    <table class="hover" rules="groups" role="grid">
        <thead>
            <th>Person</th>
            <th>Birth</th>
            <th>Death</th>
        </thead>
        <tbody>
            <tr>
            <td>Krishnamurti<sup>1</sup></td>
            <td>3.0</td>
            <td>4.0</td>
            </tr>
            <tr>
            <td>Beethoven<sup>1</sup></td>
            <td>2.0</td>
            <td>3.1</td>
            </tr>
            <tr>
            <td>Winston Churchill<sup>1</sup></td>
            <td>2.0</td>
            <td>3.0</td>
            </tr>
            <tr>
            <td>Mohandas (Mahatma) Gandhi<sup>1</sup></td>
            <td>1.7</td>
            <td>2.0</td>
            </tr>
            <tr>
            <td>Pablo Picasso<sup>1</sup></td>
            <td>1.5</td>
            <td>2.4</td>
            </tr>
            <tr>
            <td>Helena P. Blavatsky<sup>1</sup></td>
            <td>3.2</td>
            <td>4.0</td>
            </tr>
            <tr>
            <td>Helena Roerich<sup>1</sup></td>
            <td>2.7</td>
            <td>4.0</td>
            </tr>
            <tr>
            <td>Nicholas Roerich<sup>1</sup></td>
            <td>1.6</td>
            <td>2.1</td>
            </tr>
            <tr>
            <td>Alice A. Bailey<sup>1</sup></td>
            <td>2.0</td>
            <td>3.2</td>
            </tr>
            <tr>
            <td>Baruch Spinoza<sup>2</sup></td>
            <td>1.7</td>
            <td>2.4</td>
            </tr>
        </tbody>
            <tfoot>
            <tr>
            <td colspan="3">
            Source:<br />[1] <em>"Q&A", Share International, Nov. 2011</em><br />
            [2] <em>"Q&A", Share International, Nov. 2014</em>
            </td>
            </tr>
            </tfoot>
    </table>
    <br />
    <h1 id="sr">Some remarks</h1>
    <p class="text-justify">POD of <em>Benjamin Creme</em> is given on 5. december 2014 by himself, less than 2 years before he passed on. <em>(SI November 2016)</em></p>
    <p class="text-justify"><em>Peter Deunov</em>, founder of Universal White Brotherhood and teacher of <em>Mikhaèl Aïvanhov</em>, named as <em>Danilov</em> in <em>MM Vol. II, page 338</em>, was given POD as <code>3.2</code>. He isn't in the list.</p>
    <table>
        <thead>
            <th>Person</th>
            <th>POD</th>
            <th>Date</th>
            <th>Field of endeavour</th>
            <th>Country</th>
        </thead>
        <tbody>
            <tr>
            <td>Peter Deunov <em>(Beinsa Douno)</em></td>
            <td>3.2</td>
            <td>(1864-1944)</td>
            <td>Philosopher and spiritual teacher</td>
            <td>Bulgaria</td>
            </tr>
        </tbody>
    </table>
	<p>POD of successors of Mohammed, Abu Bakr and Umar (which are not in the list). Uthman and Ali (third and fourth caliph) are in the list. <em>(SI, before 2000)</em></p>
	<table>
        <thead>
            <th>Person</th>
            <th>POD</th>
            <th>Date</th>
            <th>Field of endeavour</th>
            <th>Country</th>
        </thead>
        <tbody>
            <tr>
            <td>Abu Bakr</td>
            <td>2.3</td>
            <td>(632-634AD)</td>
            <td>First Kaliph</td>
            <td>Arabia</td>
            </tr>
			<tr>
            <td>Umar</td>
            <td>1.5</td>
            <td>(634-644AD)</td>
            <td>Second Kaliph</td>
            <td>Arabia</td>
            </tr>
        </tbody>
    </table>
	
    <p class="text-justify">Wikipedia recognises <em>Yogi Ramacharaka</em> as pseudonym used by writer <em>William Walker Atkinson</em>. In this list they are listed as two different persons with different rays and POD.</p>
    <p class="text-justify"><em>Renuka Sharma's</em> POD was written as number <code>1.6-7</code> in <em>SI October 2013</em>. In this list I set it as <code>1.6</code>, since otherwise for purpose of this application it wouldn't work. Also in the <em>MM Vol. I, page 223</em>, Creme describe <em>Hellen Keller</em> as initiate of <code>1.7-8</code>, but in the list in the same book her POD is written as <code>1.7</code>.</p>
    <p class="text-justify">I didn't find no record on internet of <em>Hubertine D. Böhm(i)ker</em> (architect, Germany, 18th century).</p>
    <p class="text-justify">For <em>Günther Wilhelm Grass</em> astral ray (AR) was given as 3rd ray in Slovenian issue of <em>SI June 2015</em>. It could be mistake in copying from original English issue of SI, but I didn't have it to check it on. Similar mistake happened with <em>John Paul II</em>, where in Slovenian issue of <em>SI May 2005</em>, AR was wrongly copied as 5th ray instead of 6th.</p>
    <p class="text-justify">For <em>Vimala Thakar</em> POD was set as <code>1.5</code> in Slovenian <em>SI January/February 2015</em>. But other sources (list of initiates copied by someone else) gives this person POD <code>1.45</code>. I couldn't check it in original issue, since I don't have it. I left it at <code>1.45</code> in this list.</p>
    <h2 class="h3">Double entries</h2>
    <p class="text-justify"><em>For José Martí</em> in Slovenian<em>SI January/February 2008</em> following rays were published: <code>SR: 2; PR: 4 (6); MR: 3 (7); AR: 4 (6); PBR: 3 (7). POD: 1,6</code>. In <em>SI October 2003</em> his rays are following: <code>SR: 6; PR: 1 (6); MR: 7 (3); AR: 2 (4); PBR: 3 (7). POD: 1,5</code></p>
    <p class="text-justify"><em>Chögyam Trungpa</em> is listed twice with different POD and rays. It needed to be checked which entry is correct. In <em>SI January/February 2003</em> his rays are <code>SR: 2; PR: 4 (2); MR: 6 (2); AR: 4 (2); PBR: 7 (3). POD: 2,5</code></p>
	<p><em>Andrei Tarkowski (Tarkowsky)</em>. In Slovenian <em>SI March 2005</em> his rays are <code>SR: 2; PR: 4 (6); MR: 3 (7); AR: 6 (2); PBR: 3 (7). POD: 2,0</code></p>
	<p>Bruno Gröning - in some other list there was <code>SR: 2; PR: 6 (2); MR: 6 (2); AR: 4 (2); PBR: 3 (7). POD: 2,0</code>. In this list they are as published in <em>SI November 2003</em>.</p>
    <p>Considering the double entries. For example: rays of <em>Mani</em> was published in <em>SI September 2011</em> as <code>SR: 2; PR: 6 (3); MR: 4 (7); AR: 6 (6); PBR: 3 (7). POD: 1,45</code>. In next issue of <em>SI October 2011</em> appology was written for mistake and corrected with right rays and POD. Rays for Mani were already published earlier, but somehow published again in 2011. <span class ="underline">We can come to conclusion that the rays and POD for individual which was published first is probably correct record.</span> Except in the case when subrays were added later.</p>
    <br />
    <h1>About this project</h1>
    <h2 class="h3">Database speed</h2>
    <p class="text-justify">Because of basic use of the data (JSON file) when dealing with all {{text.length}} individuals at once, there is some delay (c. 5 seconds) in displaying the list. The fastest experience is with Chromium based browsers (Chrome, Opera, Vivaldi...). Firefox is just slightly slower. Internet explorer is the slowest. Safari was not tested.</p>
    <h2 class="h3">Project</h2>
    <p class="text-justify">Project was made as a hobby and wasn't finished and polished as intended.</p>
    </div>
    
<button onclick="topFunction()" id="myBtn" title="Go to top"></button>

<script src="data/list.js"></script>
<script src="js/apps.js"></script>
<script src="js/controllers/MainController.js"></script>
<script src="js/scroolTop.js"></script>

</body>
</html>
